@inherits Umbraco.Web.Mvc.UmbracoViewPage

@using ClientDependency.Core.Mvc

@{
    Layout = "_layout.cshtml";
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    Html.RequiresCss("/css/bootstrap.min.css");
    Html.RequiresJs("/scripts/bootstrap.bundle.min.js");
    Html.RequiresJs("/scripts/jquery-3.7.1.min.js");
    Html.RequiresJs("/scripts/jquery.validate.min.js");
    Html.RequiresJs("/scripts/jquery.validate.unobtrusive.min.js");
    Html.RequiresJs("/scripts/jquery.unobtrusive-ajax.min.js");
    Html.RequiresJs("/scripts/contactForm.js");
}



<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="my-5">
            @{Html.RenderAction("RenderForm", "ContactSurface");}
        </div>
    </div>
</div>
